<div class="modal-header">
    <div class="badge badge-success">
        {{strategyId}}
    </div>
    <strong>Strategy activation</strong>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12 mt-3 mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Amount to buy</span>
                </div>
                <input type="number" class="form-control" name="amount" [(ngModel)]="amountToBuy"/>
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <button type="button" class="btn btn-primary btn-block" (click)="activateStrategy()">Activate</button>
        </div>
    </div>
</div>
