<div class="modal-header">
    <strong>Run execution of strategy</strong>
    <div class="badge badge-success">
        {{strategy.name}}
    </div>
</div>

<div class="modal-body">
    <div *ngIf="!done">
        <div class="form-group row mb-1" *ngIf="exchangeGateways && exchangeGateways.length > 0">
            <label class="col-sm-12 col-form-label">Exchange gateway</label>
            <div class="col-sm-12">
                <select class="custom-select" [(ngModel)]="selectedExchangeGatewayId" (change)="loadSymbols()">
                    <option *ngFor="let exchangeGateway of exchangeGateways" [value]="exchangeGateway.id" [selected]="exchangeGateway.id==selectedExchangeGatewayId">
                        {{exchangeGateway.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row mb-1" *ngIf="symbols && symbols.length > 0">
            <label class="col-sm-12 col-form-label">Symbol</label>
            <div class="col-sm-12">
                <select class="custom-select" [(ngModel)]="selectedSymbol">
                    <option *ngFor="let symbol of symbols" [value]="symbol" [selected]="symbol==selectedSymbol">
                        {{symbolDictionary[symbol]}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row mb-1" *ngIf="symbols && symbols.length > 0">
            <label class="col-sm-12 col-form-label">Amount</label>
            <div class="col-sm-12">
                <input type="number" class="form-control" name="amount" [(ngModel)]="amount"/>
            </div>
        </div>
        <div class="form-group row mb-1" *ngIf="intervals && intervals.length > 0">
            <label class="col-sm-12 col-form-label">Interval</label>
            <div class="col-sm-12">
                <select class="custom-select" [(ngModel)]="selectedInterval">
                    <option *ngFor="let interval of intervals" [value]="interval" [selected]="interval==selectedInterval">
                        {{intervalDictionary[interval]}}
                    </option>
                </select>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-block mt-4" (click)="runStrategyExecution()">Run execution</button>
    </div>
    <div class="row" *ngIf="done">
        <div class="col-md-12 mb-3">
            <div class="alert alert-success">
                <h6>Done!</h6>
                Execution of strategy <strong><u>{{strategy.name}}</u></strong> has been run successfully.
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <a class="btn btn-primary btn-block" routerLink="strategy-executions" (click)="activeModal.close()">
                Open <u>strategy executions</u> page
            </a>
        </div>
        <div class="col-md-12 mb-3">
            <button type="button" class="btn btn-primary btn-block" (click)="activeModal.close()">Close</button>
        </div>
    </div>
</div>
