<div class="row">
    <div class="col-md-12 mb-4" *ngIf="strategies && strategies.length > 0">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Strategy</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let strategy of strategies">
                    <td>
                        <strong>{{strategy.name}}</strong>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-success" (click)="activateStrategy(strategy)">Run execution</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
