<div class="row">
    <div class="col-md-6 mb-4">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">From</span>
            </div>
            <input type="datetime-local" class="form-control" name="from" [(ngModel)]="fromTime" (ngModelChange)="loadExchangeGateways()" required/>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">To</span>
            </div>
            <input type="datetime-local" class="form-control" name="to" [(ngModel)]="toTime" (ngModelChange)="loadExchangeGateways()" required/>
        </div>
    </div>
    <div class="col-md-6 mb-4" *ngIf="exchangeGateways && exchangeGateways.length > 0">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Exchange Gateway</span>
            </div>
            <select class="custom-select" [(ngModel)]="selectedExchangeGateway" (change)="loadStrategies()">
                <option *ngFor="let exchangeGateway of exchangeGateways" [value]="exchangeGateway" [selected]="exchangeGateway==selectedExchangeGateway">
                    {{exchangeGateway}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-md-6 mb-4" *ngIf="strategies && strategies.length > 0">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Strategy</span>
            </div>
            <select class="custom-select" [(ngModel)]="selectedStrategy" (change)="loadTrades()">
                <option *ngFor="let strategy of strategies" [value]="strategy" [selected]="strategy==selectedStrategy">
                    {{strategy}}
                </option>
            </select>
        </div>
    </div>
</div>

<div class="row mb-2" *ngIf="trades && trades.size > 0">
    <div class="col-md-3">
        <h1>
            <fa-icon icon="retweet"></fa-icon>
            <span>{{nTrades}}</span>
        </h1>
    </div>
    <div class="col-md-3">
        <h1>
            <fa-icon icon="arrow-up"></fa-icon>
            <span>{{nProfitableTrades}}</span>
        </h1>
    </div>
    <div class="col-md-3">
        <h1>
            <fa-icon icon="arrow-down"></fa-icon>
            <span>{{nUnprofitableTrades}}</span>
        </h1>
    </div>
    <div class="col-md-3">
        <h1>
            <fa-icon icon="wallet"></fa-icon>
            <span>{{totalProfit}}</span>
        </h1>
    </div>
</div>

<div class="row" *ngIf="trades && trades.size > 0">
    <div class="col-sm-12">
        <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [stroke]="chartOptions.stroke"
            [dataLabels]="chartOptions.dataLabels"
            [yaxis]="chartOptions.yaxis"
            [labels]="chartOptions.labels"
            [legend]="chartOptions.legend"
        ></apx-chart>
    </div>
</div>

<table class="table" *ngIf="trades && trades.size > 0">
    <thead>
        <tr>
            <th scope="col">Profit</th>
            <th scope="col">Entry Time</th>
            <th scope="col">Exit Time</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let trade of trades | keyvalue" [ngClass]="(trade.value.profit>0)?'table-success':'table-danger'" (click)="showTradeDetails(trade.value.entryTimestamp)">
            <td>
                {{trade.value.profit > 0 ? '+' : ''}}{{trade.value.profit}}
            </td>
            <td>{{trade.value.entryTimestamp | date: tradesTableDateTimeFormat}}</td>
            <td>{{trade.value.exitTimestamp | date: tradesTableDateTimeFormat}}</td>
        </tr>
    </tbody>
</table>
